<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NegocioPresente copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>NegocioPresente.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB40F4EE165BE73600DB343C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB40F63E165C0BED00DB343C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBFE2EC91669BC8C003BF8CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBFE2F131669BD2B003BF8CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
